<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>List Employees</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style/chat.css" type="text/css" />
    <script type="text/javascript" async defer src="scripts/chat.js"></script>

    <style>
      .form-search {
        border: 1px solid #ccc;
        padding: 5px;
        margin: 5px 0 5px 0;
        position: sticky;
        top: 0px;
        background-color: #fff;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="form-search">
        <div class="search-action">
          <div>
            <h3>List Employees</h3>
            <hr />
            <a th:href="@{/addEmployeeForm}" class="btn btn-primary"
              >Add Employee</a
            >
          </div>
          <div>
            <form th:action="@{/search}" method="get">
              <input
                type="text"
                name="keyword"
                th:value="${keyword}"
                placeholder="Find by name"
                size="50"
              />
              <input type="submit" value="Search" />
            </form>
          </div>
        </div>
      </div>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>STT</th>
            <th>Name</th>
            <th>Email</th>
            <th>Department</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="employee: ${employees}">
            <td th:text="${employeeStat.index + 1}" class="text-center"></td>
            <td th:text="${employee.employeeName}" />
            <td th:text="${employee.employeeEmail}" />
            <td th:text="${employee.departmentName}" />
            <td>
              <a
                th:href="@{/showUpdateForm(employeeId=${employee.employeeId})}"
                class="btn btn-info"
                >Update</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
