<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Books</title>
  </head>
  <body>
    <form method="post" action="/saveBooks">
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Author</th>
            <!-- Các cột khác -->
          </tr>
        </thead>
        <tbody>
          <tr th:each="book, rowStatus : ${books}">
            <td>
              <input
                type="text"
                th:field="*{books[__${rowStatus.index}__].title}"
              />
            </td>
            <td>
              <input
                type="text"
                th:field="*{books[__${rowStatus.index}__].author}"
              />
            </td>
            <!-- Các cột khác -->
          </tr>
        </tbody>
      </table>
      <button type="submit">Save</button>
    </form>
  </body>
</html>
