<!DOCTYPE html>
<html>
<head>
    <title>SkyChat</title>
    <link rel="stylesheet" href="style/chat.css"  type="text/css" >
    <script type="text/javascript" async defer src="scripts/chat.js" ></script>
</head>
<body>
<div class="wrapper">
    <header>
        <div >
            <button onclick="addInvoice()" >Lập hoá đơn</button>
        </div>
    </header>
    <div class="sidebar-left">
        <div>
            <button type="button" id="buttonStart">Start</button>
            <button type="button" id="buttonStop" disabled>Stop</button>
        </div>
    </div>
    <div id="iContent" class="content">
        <div>
            <video style="display:none" id="videoLive"></video>
        </div>
        <div>
            <video style="display:none" controls playsinline id="videoRecorded"></video>
        </div>
    </div>
    <div class="sidebar-right">Right</div>
    <action>Action</action>
    <footer>Footer</footer>
</div>
</body>
</html>
