<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quản lý hoá đơn</title>
    <link rel="stylesheet" href="style/chat.css" type="text/css" />
    <script type="text/javascript" async defer src="scripts/chat.js"></script>

    <style type="text/css" >
        .welcome {
            padding: 20px;
            font-size: 2rem;
            text-align: center;
        }
    </style>
  </head>
  <body>
    <div class="welcome">
      <span>Chào mừng đến skydev, </span
      ><a href="https://0305127353.acconline.vn" target="_blank">acconline.vn</a>
    </div>
  </body>
</html>
